.content
{
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
}
.imgback
{
    text-align: center;
    position: absolute;
    left: -30;
    right: 0;
    top: 50%;
    transform: translateY(-105%);
}
.info
{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(0%);
    background-image: radial-gradient( circle 760px at 13% 16.8%,  rgba(255,214,223,1) 0%, rgba(248,131,174,1) 50.6%, rgba(252,36,135,1) 93.4% );
}